body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .top-bar {
    background-color: #22ADF2;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 2.5rem;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 50px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #fff;
  }
  
  .navigation a:hover {
    border-bottom: 2px solid #fff;
  }
  